<!DOCTYPE html>
<html>
<head>
	<title>Django Girls 2019</title>
</head>
<body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

            {% for post in posts %}
            <div>
            	<p>published: {{post.published_date}}</p>

            {{post}}
            
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p>
        </div>
        {% endfor %}


        <h1>Some titel</h1>
        <div>
        	Vestibulum id ligula parta felis euismod semper. Cum sociis natoque penatibus et....
        </div>
    </body>
</html>